/* CSS Style */

 /* For Testing  * {
  border: 2px solid lightblue;
  padding: 2px;
} */


* {
  margin: 0px;
  font-family: Noto, Verdana, Helvetica, sans-serif;
  color: #7a7a7a;
}

body {
  background-color: whitesmoke;
}

h1 {
  color: #000;
  font-weight: 600;
}

.navHead {
  width: 800px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.centeredHeadline {
  text-align: center;
}

.fauxNav {
  list-style: none;
  text-align: center;
  padding: 0px;
}

.fauxNav li {
  display: inline-block;
  margin: 20px 20px;
}

.recipeContainer {
  max-width: 800px;
  margin: auto;
}

.recipeHead {
  max-width: 75%;
  text-align: center;
  margin: 10px auto;
}

figure {
  float: right;
  display: flex;
  flex-flow: column;
  width: 250px;
  border-radius: 5%;
  margin: 0px 10px;
  padding: 5px;
}

img {
  border-radius: 10px 10px 0px 0px;
  padding: 0px;
}

figcaption {
  color: #fff;
  padding: 4px;
  font-style: italic;
  font-size: 10px;
  background-color: #222;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
  margin: 0px;
}

figure:last-of-type {
  clear: both;
}

h2 {
  text-decoration: underline;
}

.recipeListItem {
  margin-left: 20px;
}

.linkHome {
  display: block;
}

.linkHome, p, h2 {
  margin: 15px;
}
